.App {
    text-align: center;
}

.App-thin {
    width: 80%;
    margin-left: 10%;
    text-align: justify;
}

.Align-right {
    text-align: right;
}

.Align-left {
    text-align: left;
}

.Align-center {
    text-align: center;
}

.App-table-left {
    width: 75%;
    margin-left: 25%;
    text-align: left;
}

.App-table-right {
    width: 95%;
    margin-left: 0%;
    text-align: left;
}

td {
    border: 2px black solid;
    text-align: justify;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

h6 {
    text-decoration: underline;
}

.App-left-list {
    text-align: left;
}

.App-special {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 72, 255);
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    width: 100%;
    background-color: #282c34;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: gold;
}

.App-link {
    color: #61dafb;
}

.newLine {
    margin-left: 33%;
    text-align: left;
    white-space: pre;
}

.btn-circle.btn-sm {
    width: 20px;
    height: 24px;
    padding: 0px 0px;
    border-radius: 12px;
    font-size: 15px;
    text-align: center;
}

.modal_course_info {
    width: 700px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.line-break {
    white-space: pre-line;
}